body {
  background-image: url(img-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
button {
  background-color: #4c8af5;
  border: #4c8af5;
  line-height: 2rem;
  width: 100%;
}
ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
li {
  list-style-type: none;
  padding: 1.2rem;
  margin: 0.1rem;
  border: 0.03rem solid;
  border-radius: 14rem;
  border-color: #4c8af5;
  transition: all 0.3s ease-in-out;
}
li a {
  text-decoration: none;
  padding: 0.5rem;
}
li :hover {
  color: #f01f4c;
  font-weight: bold;
}
h2 {
  color: #000000;
}
img {
  width: 1.3rem;
}
a[href^="mailto:"] {
  font-size: 16px;
  line-height: 32px;
  color: #f01f4c;
  padding: 0.35rem;
}
a[href^="tel:"] {
  font-size: 16px;
  line-height: 32px;
  color: #f01f4c;
  text-decoration: none;
  padding: 0.35rem;
}
